
@{
    ViewData["Title"] = "About";
}

<div class="card rounded shadow col-5 m-5">
    <div class="card-header bg-info text-center text-white">
        <h3 class="text-center">About</h3>
    </div>
    <div class="card-body">
        <h3 class="card-title">Image App</h3>
        <p>This is a simple Image demonstration Web application using ASP.NET Core.</p>
        <p>There is no need for login as this is fir demonstration purposes only.</p>
        <p>Tools utilized included C#, Razor Engine, Bootstrap, MSSQL and more.</p>
        <p>It is available on GitHub for download and testing and can be shared.</p>
        <a class="btn btn-primary mt-3" asp-action="Index"><i class="fas fa-home"></i> Home</a>
    </div>
</div>


