@model  Person
@{
    ViewData["Title"] = "Edit";
}

<h1 class="bg-warning text-center text-white m-2 p-2">Edit</h1>

<form method="post" class="col-8" enctype="multipart/form-data">
    <div class="card offset-1 p-3 shadow">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="ImgeUrl"></label>
            <input type="file" class="form-control" name="files" />
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-outline-warning mb-3"><i class="fas fa-save fa-2x"></i> Save</button>
            <a class="btn btn-outline-secondary" asp-action="Index"><i class="fas fa-ban fa-2x"></i> Cancel</a>
        </div>
    </div>
</form>

